.container-for-bg {
  background-image: url('/images/why-us-circle.png'), url('/images/why-us-bg.jpg') ;
  background-position: center 410px, -100px -250px;
  background-repeat: no-repeat, repeat;
  overflow: hidden;
  position: relative;
}

.logo-marquee2 { 
  position: absolute; 
  bottom: 240px; 
  right: -40px;
  left: -30px;
  height: 65px; 
  background-image: url('/icons/solana-logo.svg'); 
  background-repeat: repeat-x; 
  background-size: contain; 
  animation: marquee2 60s linear infinite; 
  transform: rotate(-10deg); 
  filter: blur(2px);
  z-index: 3;
} 

@keyframes marquee2 { 
  0% { 
    background-position: 0 0; 
  } 
  100% { 
    background-position: -100% 0; 
  } 
}

@media (max-width: 600px) {
  .logo-marquee2 {
    animation: marquee2 10s linear infinite;
  }
}

@media (min-width: 600px) {
  .logo-marquee2 {
    bottom: 170px;
  }
}

.why-us {
  margin-bottom: 120px;
  padding-inline: 10px;
  padding-top: 120px;
}

.why-us__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
}

.why-us__item {
  border: 1px solid #ffffff26;
  border-radius: 16px;
  padding: 20px;
}

.why-us__top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.why-us__item-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: left;
  margin: 0;
}

.why-us__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

.why-us__subtitle {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.why-us__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #c4c4c4;
}

.why-us__description--text-center {
  text-align: center;
}

/* animation */

.why-us__title,
.why-us__subtitle,
.why-us__item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.why-us.visible .why-us__title,
.why-us.visible .why-us__subtitle,
.why-us.visible .why-us__item {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

@media (min-width: 1200px) {
  .container-for-bg {
    background-position: center 410px, center 200px;
  }

  .why-us {
    padding-inline: 100px;
  }
  .why-us__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .why-us__item:nth-child(1) {
    grid-column: span 2;
  }
  
  .why-us__item:nth-child(2) {
    grid-column: span 2;
  }
  
  .why-us__item:nth-child(3) {
    grid-column: span 4;
  }
}

@media (min-width: 1600px) {
  .why-us {
    margin-bottom: 170px;
    padding-inline: 370px;
    padding-top: 170px;
  }
  .why-us__title {
    font-size: 48px;
    line-height: 57px;
  }
  .why-us__subtitle {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 50px;
  }
  .why-us__item {
    padding: 30px;
  }
  .why-us__top {
    margin-bottom: 20px;
  }
  .why-us__description {
    font-size: 18px;
    line-height: 27px;
    text-align: left;
  }
  .why-us__description--text-center {
    padding-inline: 100px;
    text-align: center;
  }
}
