.about__content {
  padding-inline: 10px;
}

.about__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.about__subtitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: left;
  position: relative;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.about__subtitle::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #9945ff;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__info {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #c4c4c4;
  margin-bottom: 30px;
}

.about__image {
  display: block;
  margin-left: 10px;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 1px, 0px, 1px, 1px;
  border-style: solid;
  border-color: #ffffff26;
}

.about__title,
.about__subtitle,
.about__info,
.about__image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.about.visible .about__title {
  opacity: 1;
  transform: translateY(0);
}

.about.visible .about__subtitle {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.about.visible .about__info {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.about.visible .about__image {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

@media (min-width: 1024px) {
  .about__content {
    padding-left: 100px;
    max-width: 550px;
  }
}

@media (min-width: 1600px) {
  .about__content {
    padding-left: 370px;
    max-width: 550px;
  }
  .about {
    display: flex;
    gap: 50px;
  }
  .about__title {
    font-size: 48px;
    margin-bottom: 50px;
    line-height: 57.6px;
    padding-top: 40px;
  }
  .about__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .about__info {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 0;
  }
}
