.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 4;
}

.menu.active {
  transform: translateY(0);
}

.menu__info {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin: 20px;
}

.menu__info-left,
.menu__info-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__info-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #848895;
  position: relative;
  text-decoration: none;
}

.menu__info-item::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/arrow-down.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-top: 2px;
}

.menu__info-button {
  padding: 6px 36px 6px 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  background-color: #111111;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
  position: relative;
}

.menu__info-button::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/info.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-top: 2px;
}

.menu__info-button--purple-border {
  border: 1px solid #a962ff;
  position: relative;
}

.menu__info-button--purple-border::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/arrow-up.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-top: 2px;
}
